html {
    background: #333;
    -webkit-tap-highlight-color: transparent;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.xylo {
    display: flex;
    border: 10px solid #fff;
    background: #fff;
    width: 480px;
    height: 480px;
}

.btn {
    border: 0;
    outline: 0;
    cursor: pointer;
    flex: 1 0 auto;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    transition: transform 50ms ease-in-out;
}

.btn:hover,
.btn:focus {
    transform: scale(0.99);
}

.btn:active {
    opacity: 0.8;
    transform: scale(0.98);
}

.light-blue {
    background: #0cf;
}

.yellow {
    background: #ff0;
}

.lime {
    background: lime;
}

.pink {
    background: #fa0096;
}

.dark-blue {
    background: #0f4295;
}

@media (max-width: 480px) {
    .xylo {
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }
}
